@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
  }

  .lodging {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: none;
    margin: 0;
    padding: 0px 15px 10px 15px;
  }

  .activity {
    color: black;
    margin: 10px;

    border-top: none;
    margin: 0;
    padding: 0px 15px 10px 15px;
  }

  .container nav {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 9px;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    max-width: 100%;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    gap: 10px;
    max-width: 100%;
  }

  .filter h2 {
    display: flex;
    flex-basis: 100%;
  }

  .filter button {
    width: auto;
    height: auto;
    margin: 0;
    padding: auto;
    border: 2px solid #f2f2f2;
  }

  /* partie Hébergement  */

  .hosting_popular_container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .title_hosting {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
  }

  .hosting_container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
    border-radius: 25px;
    padding: 20px 0 20px 0;
  }

  .hosting_list img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px;
    width: 310px;
    height: 120px;
    object-fit: cover;
  }

  .popular_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: #f2f2f2;
    width: auto;
    padding: 20px 0px 20px 0;
    border-radius: 0px;
  }

  .link {
    margin: 0px;
    padding: 20px;
  }

  /* partie Activités */

  .container_activity_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_activity_1 {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .old_port img {
    width: 360px;
    height: 150px;
  }

  .container_activity_2 {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .pomègues img {
    width: 360px;
    height: 150px;
  }

  .frioul img {
    width: 360px;
    height: 150px;
  }

  .container_activity_3 {
    display: flex;
    justify-content: center;
    width: auto;
  }
  .Calanques img {
    width: 360px;
    height: 150px;
  }

  .container_activity_4 {
    display: flex;
    justify-content: center;
    width: auto;
  }
  .dame img {
    width: 360px;
    height: 150px;
  }

  .longchamp img {
    width: 360px;
    height: 150px;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #f2f2f2;

    gap: 20px;
    width: 320px;
  }
}
