@media screen and (max-width: 992px) {
  body {
    margin: 0;
    padding: 0;
  }

  .logo {
    padding: 40px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lodging {
    margin: 0;
    padding: 0px 0px 20px 0px;
    text-align: center;
    width: 50%;
  }

  .lodging:hover {
    border-bottom: #0065fc 3px solid;
    padding: 0;
    margin-bottom: -11px;
    border-top: none;
    width: 50%;
  }

    .activity {
      margin: 0;
    padding: 0px 0px 20px 0px;
    text-align: center;
    width: 50%;
    }

    .activity:hover {
      border-bottom: #0065fc 3px solid;
      padding: 0;
      margin-bottom: -11px;
      border-top: none;
      width: 50%;
      text-align: center;
    }

    .container {
      justify-content: center;
      padding: 0;
      width: 100%;
    }
    .container nav {
      padding: 0px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 3px solid #f2f2f2;
    }

    .title {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;
      max-width: 100%;
    }

    .filter {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: auto;
      gap: 10px;
      max-width: 100%;
    }

    .filter h2 {
      display: flex;
      flex-basis: 100%;
    }

    .filter button {
      width: auto;
      height: auto;
      margin: 0;
      padding: auto;
      border: 2px solid #f2f2f2;
    }

    /* partie Hébergement  */

    .hosting_popular_container {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      gap: 30px;
    }

    .hosting_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: white;
      gap: 30px;
      border-radius: 25px;
      padding: 20px 0 20px 0;
      width: 100%;
      height: 100%;
    }
    .title_hosting {
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: left;
    }

    .hosting_list {
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      background-color: white;
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.2);
    }

    .hosting_list img {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      padding: 5px;
      width: auto;
      height: 120px;
      object-fit: cover;
    }

    .popular_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      margin: 10px;
      padding: 20px 10px 20px 10px;
      border-radius: 0px;
    }

    .popular_hosting_list {
      display: flex;
      flex-wrap: nowrap;
      padding: 5px;
      margin: 10px;
      width: 100%;
      height: 150px;
      background-color: white;
      border-radius: 25px;
      box-shadow: 0px 0px 4px 1px rgba(12, 1, 1, 0.2);
    }

    .link {
      margin: 0px;
      padding: 20px;
    }

    /* partie Activités */

    .container_activity_main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .container_activity_1,
    .container_activity_2,
    .container_activity_3,
    .container_activity_4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .old_port img,
    .pomègues img,
    .frioul img,
    .Calanques img,
    .dame img,
    .longchamp img {
      width: 100%;
      height: 150px;
    }

    footer {
      display: flex;
      justify-content: space-around;
    }

    .footer_container {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      background-color: #f2f2f2;

      gap: 20px;
      width: 320px;
    }
  }

  .container nav {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 9px;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    max-width: 100%;
  }

  /* parti filtre  */

  .filter {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    gap: 10px;
    max-width: 100%;
  }

  .filter h2 {
    display: flex;
    flex-basis: 100%;
  }

  .filter button {
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    border: 2px solid #f2f2f2;
  }

  /* partie hébergement  */

  .hosting_popular_container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .hosting_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: 30px;
    border-radius: 25px;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 100%;
  }

  .hosting_list {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.2);
  }

  .hosting_list img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px;
    width: auto;
    height: 120px;
    object-fit: cover;
  }

  .popular_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 10px;
    padding: 20px 10px 20px 10px;
    border-radius: 0px;
  }

  .popular_hosting_list {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    margin: 10px;
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 1px rgba(12, 1, 1, 0.2);
  }

  /* partie activité  */

  .container_activity_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_activity_1,
  .container_activity_2,
  .container_activity_3,
  .container_activity_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .old_port img,
  .pomègues img,
  .frioul img,
  .Calanques img,
  .dame img,
  .longchamp img {
    width: 100%;
    height: 150px;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f2;
    gap: 40px;
    width: 100%;
  }
}
