/*--- reset--- */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html,
body {
  font-family: "Raleway", sans-serif;
  padding: 0px 20px 0 20px;
}

a {
  text-decoration: none;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 80px;
  width: auto;
}

.container {
  display: flex;
  text-align: end;
  justify-content: space-between;
  padding: 30px;
}

nav {
  max-width: 100%;
  padding-top: 10px;
}

.lodging {
  margin: 20px;
  padding-top: 30px;
  border-top: #0065fc solid 2px;
  color: #0065fc;
}

.lodging:hover {
  border-top: #deebff solid 2px;
  color: #deebff;
  transition: 0.5s;
}

.activity {
  margin: 20px;
}

.activity:hover {
  padding-top: 30px;
  border-top: #deebff solid 2px;
  color: #deebff;
  transition: 0.5s;
}

/* titre recherche filtre */

.title {
  margin: 10px;
  padding: 10px;
}

h3 {
  margin: 10px;
  font-size: 18px;
}

.subtitle {
  margin: 10px;
}

/* button recherche */

form {
  display: flex;
  align-items: center;
  padding: 10px;
}

form .prefix {
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form input {
  padding: 10px;
  border: #f2f2f2 solid 0.5px;
}

form button {
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #0065fc;
  color: #deebff;
  cursor: pointer;
}

form button:hover {
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #deebff;
  color: #0065fc;
}

/* filtre */

.filter {
  max-width: 80%;
  display: flex;
  padding: 15px;
  gap: 40px;
}

.filter h2 {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.filter i {
  display: flex;
  justify-self: center;
  padding: 18px;
  color: #0065fc;
  border-radius: 50px;
  margin-right: 16px;
  background-color: #deebff;
  outline: #deebff solid 1px;
}

.filter button {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1.5px solid #deebff;
  background-color: white;
  padding-right: 10px;
  font-weight: bold;
}

/*--------------- animation button filtre -----------*/

.filter button:hover {
  border-radius: 50px;
  border: 1.5px solid #deebff;
  background-color: #0065fc;
  color: white;
  padding-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
/* ------------------------------------------------- */
.info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
}

.info i {
  font-size: 10px;
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.info p {
  padding: 5x;
}

/* --------------Hebergement  Marseille-------------- */

.hosting_popular_container {
  display: inline-flex;
  gap: 30px;
}

.hosting_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
  gap: 30px;
  border-radius: 25px;
  width: 70%;
  padding: 20px 0 20px 0;
}

#title_hosting {
  inline-size: 100%;
  margin: 10px;
  padding-left: 40px;
  font-size: 16px;
}

.hosting_list {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  width: auto;
  height: auto;
  box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.2);
}

.hosting_list img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
  width: 255px;
  height: 120px;
  object-fit: cover;
}

/* -------------Annimation photo----- */

.hosting_list:hover {
  box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.9);
  cursor: pointer;
  opacity: 0.5;
}

/* ----------------------------------- */
.figcaption_host {
  width: auto;
  height: auto;
  padding: 0 0 10px 10px;
  margin: 4px;
}

.figcaption_host h3 {
  padding: 2px;
  margin: 2px;
  font-size: 16px;
}
.figcaption_host p {
  margin: 2px;
  padding: 2px;
  font-size: 12px;
}

.figcaption_host i {
  font-size: 12px;
  color: #0065fc;
}

.hosting_price {
  font-weight: bolder;
}

.link {
  margin-left: 26px;
  padding: 30px;
  width: 100%;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  cursor: default;
}
/* -----------------hébergement populaire---------------- */

.title_popular {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 5px;
}
.title_popular i {
  font-size: 20px;
  margin-left: 60px;
}

.popular_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 25px;
  width: 30%;
  padding: 20px 0 20px 0;
}

.popular_hosting_list {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  margin: 10px;
  width: 300px;
  height: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 4px 1px rgba(12, 1, 1, 0.2);
}
/* -------------Annimation photo----- */
.popular_hosting_list:hover {
  opacity: 0.5;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.9);
}
/* ------------------------------------- */

.popular_hosting_list img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 110px;
  height: 130px;
  object-fit: cover;
}

.figcaption_popular {
  font-size: 16px;
  width: auto;
  height: auto;
  padding: 2px;
  margin-left: 10px;
}

.figcaption_popular h3 {
  margin: 2px;
  padding: 2px;
  font-size: 16px;
}

.figcaption_popular p {
  margin: 2px;
  padding: 2px;
  font-size: 12px;
}

.figcaption_popular i {
  color: #0065fc;
  font-size: 12px;
  margin-top: 40px;
}

.popular_price {
  font-weight: bolder;
}

/* Activité Marseille */

#activity_link {
  position: relative;
  padding: 20px;
  font-weight: 600;
}

.container_activity_main {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding-top: 10px;
}

.container_activity_main img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.2);
  object-fit: cover;
}

.container_activity_main img:hover {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.2);
  object-fit: cover;
  opacity: 0.5;
  cursor: pointer;
}

.title_picture {
  margin-top: -5px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 5px 1px rgba(12, 1, 1, 0.2);
}

.container_activity_1 {
  display: flex;
  justify-content: center;
  width: 33%;
}

.old_port img {
  height: 400px;
}

/* ---------------------- */

.container_activity_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 33%;
}

.pomègues img {
  height: 210px;
}

.frioul img {
  height: 110px;
}

/* --------------------- */

.container_activity_3 {
  display: flex;
  width: 33%;
}

.Calanques img {
  height: 400px;
}

/* --------------------- */

.container_activity_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  gap: 40px;
}

.dame img {
  height: 160px;
}

.longchamp img {
  height: 150px;
}

/* Footer     */

.footer_container {
  display: flex;
  gap: 300px;
  background-color: #f2f2f2;
  text-align: left;
  padding: 35px;
  margin: 30px -20px 30px -20px;
}

.footer_container h3 {
  margin: 0px;
  padding-bottom: 10px;
}

.footer_container ul {
  list-style: none;
}

.footer_container ul li {
  padding-top: 5px;
}
