/*--- reset--- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

/* header */

.container {
  display: flex;
  text-align: end;
  justify-content: space-between;
  padding: 30px;
}

nav {
  max-width: 100%;
  padding-top: 10px;
}

.lodging {
  margin: 20px;
  padding-top: 30px;
  border-top: #0065fc solid 2px;
  color: #0065fc;
}

.lodging:hover {
  border-top: #deebff solid 2px;
  color: #deebff;
  transition: 0.5s;
}

.activity {
  margin: 20px;
}

.activity:hover {
  padding-top: 30px;
  border-top: #deebff solid 2px;
  color: #deebff;
  transition: 0.5s;
}

/* titre recherche filtre */

.title {
  margin: 10px;
  padding: 10px;
}

h3 {
  margin: 10px;
}

.subtitle {
  margin: 10px;
}

/* button recherche */

form {
  display: flex;
  align-items: center;
  padding: 10px;
}

form .prefix {
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form input {
  padding: 10px;
  border: #f2f2f2 solid 0.5px;
}

form button {
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #0065fc;
  color: #deebff;
  cursor: pointer;
}

form button:hover {
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #deebff;
  color: #0065fc;
}

/* filtre */

.filter {
  max-width: 80%;
  display: flex;
  padding: 15px;
  gap: 40px;
}

.filter h3 {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.filter i {
  display: flex;
  justify-self: center;
  padding: 18px;
  color: #0065fc;
  border-radius: 50px;
  margin-right: 16px;
  background-color: #deebff;
  outline: #deebff solid 1px;
}

.filter button {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1.5px solid #deebff;
  background-color: white;
  padding-right: 10px;
  font-weight: bold;
}

/* animation buton filtre */

.filter button:hover {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1.5px solid #deebff;
  background-color: white;
  padding-right: 10px;
  font-weight: bold;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.info {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.info i {
  font-size: 10px;
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.info p {
  padding: 5x;
}

/* Hebergement  */

.main {
  display: flex;
}

.hosting {
  display: flex;
  background-color: red;
  flex: 3 auto;
}

.hostingmain {
  display: flex;
  flex-wrap: wrap;
}

.hostingmain h2 {
  order: -1;
  flex: 1 0 100%;
}

.hostingmain img {
  width: 300px;
  height: 200px;
}

.hostindcard {
  display: flex;
  border: #0065fc 5px solid;
}

.hostingPopular {
  display: flex;
  max-width: 40%;
}

.hostingPopular h2 {
  order: -1;
  flex: 1 0 100%;
}
